.favorite{
    border: 2px solid black;
    background-color: white;
    padding: 5px;
}

.favoriteButton{
    border-radius: 30%;
    padding: 10px;
    margin: 20px;
 
    /* justify-content:space-between; */
    /* align-items:center; */
   
}

.favoriteButton:hover{
    background-color: crimson;
  
}